@import 'src/styles/_utils.scss';

.CartCard {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  gap: 20px;
  place-items: center;

  padding: $cardPadding;

  @extend %borderShadow;

  @include mediaMaxWidth {
    padding: $cardPaddingS;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: $cardGap;
  }

  &__title {
    font-weight: 700;
  }

  &__description {
    display: block;

    @include mediaMaxWidth($mobileWidth) {
      display: none;
    }
  }
}
