@import 'src/styles/_utils.scss';

.catalog-section {
  padding: $componentInnerPaddingS $pageSidePaddingL;

  @include mediaMaxWidth {
    padding-right: $pageSidePaddingM;
    padding-left: $pageSidePaddingM;
  }

  @include mediaMaxWidth($mobileWidth) {
    padding-right: $pageSidePaddingS;
    padding-left: $pageSidePaddingS;
  }
}

$catalogImageCrop: polygon(
  4px 0,
  100% 0,
  100% 30%,
  100% 70%,
  100% 100%,
  4px 100%,
  0 98%,
  0 4px
);
.catalog {
  display: grid;
  grid-template-columns: 280px 1fr;

  border: 1px solid $c-border;
  border-radius: $containerBorderRadius;
  box-shadow: 0px 4px 4px $c-gray400;

  @include mediaMaxWidth($mobileWidth) {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  &__banner {
    position: relative;
    @extend %center;
    overflow: hidden;

    width: 280px;
  }

  &__banner-image {
    display: block;
    width: 280px;
    height: 260px;
    object-position: 50% 50%;
    object-fit: cover;

    -webkit-clip-path: $catalogImageCrop;
    clip-path: $catalogImageCrop;

    @include mediaMaxWidth($mobileWidth) {
      -webkit-clip-path: none;
      clip-path: none;
    }
  }

  &__banner-title {
    position: absolute;
    z-index: 10;
    top: 20%;
    left: $componentInnerPaddingR;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    gap: $cardGap;

    justify-content: center;
    align-items: center;
  }
}
