@import 'src/styles/_utils.scss';

.SearchedCard {
  display: grid;
  grid-template-columns: 1fr 5fr;

  &__image {
    width: 64px;
    height: 64px;
  }

  &__details {
    display: flex;
    flex-direction: column;
  }
}
