@import 'src/styles/_utils.scss';

.SearchedProducts {
  display: flex;
  flex-direction: column;
  gap: $gapBetweenCards;

  padding: 16px $pageSidePaddingL;

  @include mediaMaxWidth {
    padding-inline: $pageSidePaddingM;
  }

  @include mediaMaxWidth($mobileWidth) {
    padding-inline: $pageSidePaddingS;
  }
}
