@font-face {
  font-family: 'Inter-Light';
  src: url('src/assets/fonts/Inter-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  src: url('src/assets/fonts/Inter-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter-Medium';
  src: url('src/assets/fonts/Inter-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter-Bold';
  src: url('src/assets/fonts/Inter-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter-Black';
  src: url('src/assets/fonts/Inter-Black.ttf') format('truetype');
}
