@import 'src/styles/_utils.scss';

.CartPage {
  &__section {
    @extend %componentPadding;

    display: grid;
    grid-template-columns: 1fr 200px;
    gap: $gapBetweenCards;
  }

  &__products {
    display: flex;
    flex-direction: column;
    gap: $gapBetweenCards;
  }
}
