@import 'src/styles/_utils.scss';

.SearchBar {
  display: flex;
  align-items: center;

  &__bar {
    min-width: 300px;

    display: flex;
    gap: 8px;
    flex-grow: 1;

    padding: 8px;

    border: 2px solid $c-primary;
    border-radius: $buttonBorderRadius 0 0 $buttonBorderRadius;
  }

  &__magnifier {
    height: 18px;
    width: 18px;

    background-image: url('src/assets/icons/magnifier.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__input {
    padding: 0 8px;
    flex-grow: 1;

    font-size: $fontRegular;
    line-height: $lineHeight;

    border: none;

    &:focus {
      outline: none;
      border: none;
    }

    &::placeholder {
      color: $c-gray400;
    }
  }

  &__select {
    padding: 10px 4px;
    border-top: 2px solid $c-primary;
    border-bottom: 2px solid $c-primary;
    border-left: none;
    border-right: none;

    appearance: none;
    min-width: 160px;

    font-family: 'Inter-Medium', 'Roboto', 'Maison Neue', sans-serif;
    color: $c-dark;
    font-size: $fontSmall;
    line-height: 16px;
    text-align: center;

    cursor: pointer;

    &:focus {
      border: none;
      box-shadow: none;
      outline: 2px solid $c-primary;
    }
  }

  &__button {
    padding: 8px 40px;

    background-color: $c-primary;
    border: 2px solid transparent;
    border-radius: 0 $buttonBorderRadius $buttonBorderRadius 0;

    font-size: $fontRegular;
    line-height: $lineHeight;
    color: $c-white;

    transition: color $transitionTime, background-color $transitionTime,
      border $transitionTime;

    &:hover {
      color: $c-dark;
    }

    &--disabled {
      border-color: $c-primary;

      &:hover {
        color: $c-white;
      }
    }
  }
}
