@import 'src/styles/_utils.scss';

.catalog-card {
  width: 220px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: $componentInnerPaddingS;

  &__image {
    width: 82px;
    height: 82px;
  }
}
