@import 'src/styles/_utils.scss';

.header {
  @extend %minMaxWidth;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: $componentInnerPaddingR $pageSidePaddingL;
}

.nav-controls {
  display: grid;
  gap: 12px;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    cursor: pointer;
  }

  &__title {
    font-size: $fontSmall;
    color: $c-dark;
  }
}
