@import 'src/styles/_utils.scss';

.header {
  @extend %minMaxWidth;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: $componentInnerPaddingR $pageSidePaddingL;
}
