@import 'src/styles/_utils.scss';

.Loading {
  position: absolute;
  inset: 0 0 0 0;
  background-color: $c-gray400;
  z-index: 99;

  &__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $c-dark;
    text-align: center;
  }
}
