@import 'src/styles/_utils.scss';

.recommended {
  @extend %minMaxWidth;
  padding: 8px 40px;

  &__text {
    font-size: $fontH2;
    line-height: $lineHeight;
    color: $c-dark;
  }

  &__container {
    margin-top: 20px;
    @extend %center;
    @extend %minMaxWidth;

    height: calc($productCardHeight * 2 + 40px);

    @include mediaMaxWidth {
      max-width: $tabletWidth - 80px;
    }

    scroll-snap-type: y proximity;

    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.loading {
  position: absolute;
  inset: 0 0 0 0;
  background-color: $c-gray400;

  &__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $c-dark;
  }
}
