@import 'src/styles/_utils.scss';

.recommended {
  @extend %minMaxWidth;
  padding: 8px 40px;

  &__container {
    margin-top: 20px;
    @extend %center;
    @extend %minMaxWidth;
    padding: 20px;

    height: calc($productCardHeight * 2 + 60px);

    @include mediaMaxWidth {
      max-width: $tabletWidth - 80px;
    }

    scroll-snap-type: y proximity;

    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;

    border: 1px solid $c-border;
    border-radius: 8px;
    box-shadow: 0px 4px 4px $c-gray400;
  }
}
