@import 'src/styles/_utils.scss';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', 'Roboto', 'Maison Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p,
h1,
h2,
h3,
button {
  margin: 0;
}

a {
  color: unset;
  text-decoration: unset;
}

button {
  border: unset;
  padding: unset;
  background-color: unset;

  &:hover {
    cursor: pointer;
  }
}
